/* @group FONTELLO */

@font-face {
	font-family: 'fontello';
	src: 	url('/fonts/fontello.eot?87685124');
	src: 	url('/fonts/fontello.eot?87685124#iefix') format('embedded-opentype'),
			url('/fonts/fontello.woff?87685124') format('woff'),
			url('/fonts/fontello.ttf?87685124') format('truetype'),
			url('/fonts/fontello.svg?87685124#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?87685124#fontello') format('svg');
  }
}
*/

[class^="icon-"], [class*=" icon-"] {
	white-space: nowrap;
	color: #CDCBCB;
	display: inline-block;
	width: 3em;
	height: 3em;
	overflow: hidden;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-size: 1.3em;
	font-style: normal;
	font-weight: normal;
	speak: none;
	text-indent: 0;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin: .4em .4em;
	padding: .3em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .3em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-gplus:before { content: '\e801'; } /* '' */
.icon-pinterest:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */

/* @end */

$black: #1A1918;
$main: #1A1918;
$off-white: #F2F2F2;

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	overflow: hidden;
}

body {
	background-color: white;
	font: 1em/1.5em 'PT Sans', Helvetica, Arial, sans-serif;
	color: $black;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

a {
	color: inherit;
	text-decoration: underline;
}

h2 {
    margin-top: 43px;
}

img {
	width: 100%;
	max-width: 100%;
}

button {
	background: none;
	color: inherit;
	border: none;
	text-transform: uppercase;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
    text-decoration: none;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.to-blur {
	transition: all .4s ease-out;
}

.blurred {
	filter: blur(5px);
}

#container {
	background-color: $off-white;
	width: 100%;
}

header {
	display: table;
	width: 100%;
	height: 50px;
	background-color: white;
	float: left;
}

header > a {
    display: block;
    float: left;
	width: 150px;
    height: 43px;
	padding: 14px 17px 7px;

    > svg {
        pointer-events: none;
    }
}

#menu-helper {
	float: right;
	height: 50px;
	padding: 0 35px;
	font-size: .8em;
}

#menu-container {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: $off-white;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: -webkit-transform .3s cubic-bezier(0.68, -0.25, 0.265, 1.25);
	transition: transform .3s cubic-bezier(0.68, -0.25, 0.265, 1.25);
	text-align: center;
	z-index: 10;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

    a {
        text-decoration: none;
    }
}

#menu-container.menu-open {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

#lang {
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	line-height: 49px;
	font-size: .9em;
}

#lang a,
#lang span {
	padding: 15px 10px;
    text-decoration: none;
}

.lang-selected {
	font-weight: bold;
	pointer-events: none;
	cursor: default;
}

#close-menu {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	font-size: 1.3em;
}

menu {
	text-transform: uppercase;
	list-style: none;
	padding-left: 0;
	margin: 0;
	padding: 63px 43px 4vh;
}

menu > li > a {
	display: block;
	margin-bottom: 7px;
	height: 50px;
	background-color: white;
	border-bottom: 3px solid $black;
	font-size: .8em;
	line-height: 50px;
    transition: .2s ease-out;

    &:hover,
    &:focus {
        outline: none;
        border-bottom-width: 5px;
    }
}

#menu-container > a {
	display: block;
	font-size: 1.3em;
	line-height: 1.2;
	margin-top: 1vh;
}

.shop-link {
	margin-top: 2vh;
	background-color: #693D15;
	color: white;
}

// .mail-link {
// 	color: inherit;
//     text-decoration: underline;
// }

#social {
	margin-top: 2vh;
}

.shop-link-footer {
	position: fixed;
	bottom: 0;
	display: block;
	margin: 0;
	width: 100%;
	height: 50px;
	float: left;
	padding: 0;
	text-align: center;
	line-height: 50px;
}

section {
	position: absolute;
	top: 50px;
	width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	background-color: $off-white;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform .3s cubic-bezier(0.68, -0.25, 0.265, 1.25);
	transition: transform .3s cubic-bezier(0.68, -0.25, 0.265, 1.25);
}

section:target {
	z-index: 5;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

section p {
	text-align: justify;
	padding: 0 43px;
}

#home {
	display: block;
	overflow: hidden;
}

.main {
	clear: both;
	margin: 0 auto;
	text-align: center;
    border-top: 43px solid $off-white;
    border-bottom: 43px solid $off-white;

    > *:first-child {
        margin-top: 0;
    }
    
    img {
    	width: auto;
    }
}

#home .main {
	overflow: hidden;
    border: none;
}

.bottone {
	display: none;
}

.secondary {
	text-align: center;
	position: relative;
}

.secondary__img {
	width: auto;
	display: inline-block;
	border: 7px solid white;
	-webkit-transition: all .8s 0s ease-out;
}

.to-enlarge {
	cursor: pointer;
}

#designers {

	h3 {
		margin-top: 3rem;

		&:after {
			content: '';
			display: block;
			width: 50%;
			height: 1px;
			margin: 0 auto;
			background-color: #C8B29A;
		}
	}

	ul {
		list-style: none;
		padding-left: 0;

		li {
			font-size: .9em;
			line-height: 1.2;
			margin: .9em 0;
		}
	}
}

#contatti {
	width: 100%;
}

#contatti-inner > iframe {
	width: 100%;
	height: 50vh;
	float: left;
}

#contatti-address {
	width: 100%;
	float: left;
	padding: 20px;
	line-height: 1.1;

	> span {
		display: inline-block;
		width: 100%;
		padding-top: 1rem;
		line-height: 1.3;
	}
	
	> span:first-of-type {
		padding-top: 0;
	}
}

#contatti-logo {
	display: block;
	width: 80px;
	margin-bottom: 10px;
}

$loading-size: 50px;
.loading {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -#{$loading-size /2};
	margin-top: -#{$loading-size /2};
	width: $loading-size;
	height: $loading-size;
	background-color: white;
	border-style: solid;
	border-color: $black;
	border-width: 0;
	border-radius: 50%;
	animation: loading 1.5s linear 0s infinite, scale 1.5s ease-in-out 0s infinite;
}

@keyframes loading {

	0% {
		border-width: $loading-size / 10;
		border-top-width: $loading-size / 2;
	}
	25% {
		border-width: $loading-size / 10;
		border-right-width: $loading-size / 2;
	}
	50% {
		border-width: $loading-size / 10;
		border-bottom-width: $loading-size / 2;
	}
	75% {
		border-width: $loading-size / 10;
		border-left-width: $loading-size / 2;
	}
	100% {
		border-width: $loading-size / 10;
		border-top-width: $loading-size / 2;
	}
}
@keyframes scale {
	0%, 100% {
		transform: scale(1);
	}
	50% {
		transform: scale(.6);
	}
}

.enlarging-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba($black, .8);
	z-index: 10000;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	opacity: 0;
	transition: opacity .3s ease-out;
	
	&.visible {
		opacity: 1;
		cursor: pointer;
	}
}

.enlarged {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	transform: scale(1.2);
	opacity: 0;
	transition: all .3s ease-out;
	
	&.loaded {
		transform: scale(1);
		opacity: 1;
	}
}

footer {
	display: none;
}

@media (min-width: 767px) {

	body {
		background-color: $off-white;
	}

	#container {
		height: 90vh;
		overflow: hidden;
	}

	#header-container {
		position: static;
		width: 30%;
		max-width: 350px;
		height: auto;
		float: left;
		margin: 6vh 5% 0;
	}

	header,
	#menu-container {
		position: static;
		float: left;
		clear: left;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
		overflow-y: visible;
	}

	header {
		height: auto;
		background: transparent;
	}

	header > a {
		height: auto;
        margin-bottom: 4vh;
		padding-left: 0;
		padding-top: 0;
	}

	#menu {
		padding: 0;
		margin-bottom: 4vh;
	}

	#lang {
		color: #CDCBCB;
		position: fixed;
		top: auto;
		right: 0;
		bottom: -4.5vh;
	}

	#logo-m,
	#menu-helper,
	#close-menu,
	#menu > li:first-of-type,
	.shop-link-footer {
		display: none;
	}

	.shop-link {
		margin: 3vh 0 1vh;
	}

	#social {
		margin: 1vh 0;
	}

	#content {
		/*position: fixed;
		top: 4vh;
		right: 5vw;*/
		position: relative;
		width: 50%;
		height: 80vh;
		float: right;
		overflow: hidden;
		margin: 6vh 5%;
	}

	section {
		width: 100%;
		max-height: 80vh;
		position: absolute;
		top: auto;
		overflow: auto;
	}

	.main {
		width: 100%;
		padding: 0;
		background-color: white;
		border-top: 43px solid white;
		border-bottom: 43px solid white;


	}

	#home .main {
		padding: 1em;
		border-bottom: 20px solid white;
		overflow: hidden;
	}

	.secondary {
		max-height: 80vh;
		padding: 20px 0;
		background-color: white;
		overflow-y: auto;
	}

	#contatti-inner iframe {
		height: 60vh;
	}

	#contatti-address {
		background-color: white;
	}

	#contatti-address .mapLink {
		font-weight: bold;
	}
	
	footer {
		display: block;
	}

	#copyright {
		display: block;
		position: fixed;
		bottom: 1.5vh;
		width: 100%;
		text-align: center;
		font-size: .75em;
		line-height: 1;
		color: #CDCBCB;
	}

	#copyright a:last-of-type {
		font-variant: small-caps;
	}

	#footer-logo {
		display: none;
	}

}

@media (min-width: 900px) {
	/* Fixes for tablets in landscape mode */

	.shop-link {
		margin: 1vh 0 .5vh;
	}

	#social {
		margin: 5vh 0 .5vh;
	}

	#menu-container > .mail-link {
		display: none;
	}
	
	.enlarging-container {
		padding: 2vmax;
	}
}

@media (min-width: 1200px) {

	body {
		padding: 6vh 6vh;
		background-color: white;
	}

	#container {
		height: 88vh;
		width: 100%;
	}

	#header-container {
		width: 20%;
	}

	.shop-link {
		margin: 2vh 0 1vh;
	}

	#social {
		margin: 5vh 0 .5vh;
	}

	#lang {

	}

	#menu-container > a {
		display: none;
	}

	#content {
		width: 62%;
		float: left;
		margin: 6vh 4% 6vh 4%;
	}

	#content,
	section {
		max-height: 76vh;
		overflow: hidden;
	}

	.main {
		max-width: 46%;
		float: left;
		max-height: 76vh;
		overflow: auto;
	}

	.bottone {
		display: block;
		width: 15vh;
		height: 15vh;
		margin: 30vh auto 0;
		background-color: #693D15;
		color: white;
		font-size: .8em;
		text-align: center;
		text-transform: uppercase;
		line-height: 15.3vh;
	}

	.secondary {
		position: static;
		float: right;
		width: 52%;
		max-height: 76vh;
		padding: 0;
		margin: 0;
		background: transparent;
	}

	#contatti-inner iframe {
		height: 55vh;
	}

	#contatti-address span {
		float: left;
		width: 50%;
		padding-top: 0;
		padding-bottom: 0;
	}

	#contatti-address .mapLink {
		display: none;
	}

	#footer-logo {
		position: absolute;
		left: 0;
		bottom: 3px;
		text-align: left;
		display: inline-block;
		height: 15px;
	}

}
